<% 
  def field_class
    "mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
  end
%>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render partial: 'new', locals: { f: f } %>
 <!--
  Use vvvv  for upload button
  http://codepen.io/akhmed_gaziev/pen/JdVQQm 
-->
  <div class="mdl-textfield mdl-js-textfield textfield-demo">
    <%= f.file_field :prof_img_url, :class => 'file_input_text mdl-textfield__input' %>
    <label class="mdl-textfield__label" for="file_input_text"></label>
  </div>
  <div class="<%= field_class %>">
    <%= f.submit :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
  </div>
<% end %>
