<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Lname initial:</strong>
  <%= @user.lname_initial %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Prof img url:</strong>
  <%= @user.prof_img_url %>
</p>

<p>
  <% @events.each do |event| %>
    <b><%= event.title  %></b>
  <% end %>
</p>


