<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<%= form_for @event, html: { multipart: true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% 
    def input_class
      "mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
    end
  %>

  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>

  <div class="<%= input_class %>">
    <%= f.label :title, :class => 'mdl-textfield__label' %>
    <%= f.text_field :title,  :class => 'mdl-textfield__input' %>
  </div>
  <div class="<%= input_class %>">
    <%= f.label :caption, :class => 'mdl-textfield__label' %>
    <%= f.text_field :caption, :class => 'mdl-textfield__input' %>
  </div>
  <div class="<%= input_class %>">
    <%= f.label :time_at, :class => 'mdl-textfield__label' %>
    <%= f.text_field :time_at, :class => 'mdl-textfield__input' %>
  </div>
  <div class="<%= input_class %> file_input_box">
    <%= f.label :photo, :class => 'mdl-textfield__label' %>
    <%= render partial: 'upload', locals: { } %>
  </div>

  <div class="sample">
    <img />
  </div>

  <div class="align create_event">
    <%= f.submit %>
  </div>
<% end %>
