<li class="mdl-list__item invitation" data-id="<%= invite.id %>">
  <span class="mdl-list__item-primary-content">
  <i class="material-icons mdl-list__item-icon"><%= 
  	invite.accepted == nil ? 'assignment ind' : (invite.accepted ? 'done' : 'delete')
  %></i>
  	<% if invite.user == nil %>
  		<span><%= invite.number %></span>
  	<% else %>
  		<span><%= invite.user.fname %> <%= invite.user.lname_initial %></span>
  	<% end %>
  </span>
  <% if invite.accepted == nil %>
  <button class="delete mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <i class="material-icons mdl-list__item-icon">delete</i>
  </button>
  <% end %>
</li>