<p id="notice"><%= notice %></p>

<img src="/photos/<%= @event.id %>.jpeg">

<p>
  <strong>Title:</strong>_
  <%= @event.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @event.caption %>
</p>

<p>
  <strong>Time at:</strong>
  <%= @event.time_at %>
</p>

<p><%= @event.event_address %></p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
